:root {
    --azul: #002A8D;
    --naranjo: #FF7800;
    --blanco: #FFFFFF;
    --celeste: #3D77FF;
  }
  
.progress-bar{
  background-color: #6AC90F !important;
  }

  .gastos{
     position: relative;
     right: 18%;
     top: 20px;
     font-weight: bold;
  }

  .ingreso{
    position: relative;
    left: 18%;
    top: 20px;
    font-weight: bold;
  }
  .spaner {
    color: var(--azul);
  }
  .texto-card {
    margin-top: 2vw;
    color : var(--azul);
    font-weight: bold;
    font-size: 25px;
  }